<section class="container-user-panel d-flex">
  <div class="admin-navbar">
    <div class="sticky-top" style="top: 2%;">
      <div class="dashboard" onclick="navigatetoPages('dashboard')">
        <i class="fa fa-th icons" aria-hidden="true"></i>
        <span class="nav-category">DASHBOARD</span>
      </div>
      <div class="user" onclick="navigatetoPages('user')">
        <i class="fa fa-users icons" aria-hidden="true"></i>
        <span class="nav-category">USER</span>
      </div>
      <div class="products" onclick="navigatetoPages('products')">
        <i class="fa-solid fa-boxes-stacked icons"></i>
        <span class="nav-category">PRODUCTS</span>
      </div>
      <div class="products" onclick="navigatetoPages('productsSpec')">
        <i class="fa-solid fa-boxes-stacked icons"></i>
        <span class="nav-category">SPECIFICATIONS</span>
      </div>
      <div class="orders" onclick="navigatetoPages('orders')">
        <i class="fa-solid fa-box icons"></i>
        <span class="nav-category">ORDERS</span>
      </div>
      <div
        class="category"
        onclick="navigatetoPages('category')"
        style="border: 0.5px solid rgb(136, 132, 132);"
      >
        <i class="fa-solid fa-list icons"></i>
        <span class="nav-category">CATEGORY</span>
      </div>
      <div class="coupon" onclick="navigatetoPages('coupon')">
        <i class="fa-solid fa-money-bill icons"></i>
        <span class="nav-category">COUPON</span>
      </div>
      <div class="banner" onclick="navigatetoPages('banner')">
        <i class="fa-regular fa-object-group icons"></i>
        <span class="nav-category">BANNER</span>
      </div>
      <div class="logout-button">
        <button class="w-100 btn btn-danger"><span class="log-out">LOG OUT</span><i
            class="fa-solid text-white fa-right-from-bracket"
          ></i></button>
      </div>
    </div>
  </div>
  <div class="divider">
    <div
      style="border:0.5px solid rgb(130, 127, 127);  display:inline-block; height:800px;"
    ></div>
  </div>

  <div id="left-container">
    <div>
      <button
        id="add-category"
        class="btn mb-3 btn-danger py-2"
        onclick="window.location.href='/admin_panel/add_category'"
      >Add Category</button>
    </div>
    <table id="example" class="table table-striped nowrap" style="width:100%">
      <thead>
        <tr>
          <th>CATEGORY</th>

          <th>SOLD PRODUCT</th>
          <th>TOTAL SALE</th>

          <th style="width: 100px;">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        {{#each category}}
          <tr>
            <td>{{this.categoryName}}</td>

            <td>{{this.soldProduct}}</td>
            <td>₹{{this.totalSale}}</td>

            <td><button class="btn"><i
                  id="edit-category-button"
                  class="fa-solid fa-pen-to-square"
                  data-category-id={{this._id}}
                ></i></button>
              <button class="btn"><i
                  id="category-delete-icon"
                  class="text-danger fa-solid fa-trash"
                  data-category-id={{this._id}}
                ></i></button>
              <button
                id="unlist-category"
                data-category-id="{{this._id}}"
              >u</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</section>